<%- include("includes/head.ejs"); %>

    <body>
        <h1 id="h1">this is a valid page</h1>
        <h1>
            <%= data.name %>
        </h1>
        <button id="btn">click me</button>
        <h4>Followers : <%= data.followers %> &nbsp;&nbsp;&nbsp; Following : <%= data.following %>
        </h4>
        <hr>
        <% for (const post of data.posts) { %>
            <img src="<%= post.image %>" alt="some image">
            <h4>
                likes : <%= post.likes %>
                    comments : <%= post.comments %>
            </h4>
            <% } %>
    </body>
    <script src="/app.js"></script>

</html>